.card{
    height: 280px;
}

.info{
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
    font-size: 14px;
}

.interaction{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
}


.userImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.postImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
